Setting the Peer BGP ID

We are having trouble parsing this sentence:

Original:
   *  Peer BGP ID: Set to the BGP instance global or RD (e.g., VRF)
      specific router-id section 1.1 of [RFC7854].

a) Does this mean that the BGP instance is set to global or RD depending on the specific router
ID?  Please review.

b) Section 1.1 of RFC 7854 is the "Requirements Language" section - it contains only the RFC 2119
paragraph that defines use of capitalized key words.  Should this text refer to Secion 4.2
instead?

Section 4.2 of RFC 7854 defines Peer BCP ID as follows:

   o  Peer BGP ID: The BGP Identifier of the peer from which the
      encapsulated PDU was received.

Global Instance Peer and RD Instance Peer are also are also described in Section 4.2 of RFC 7854.

**a)** It means to set the ID to the router-id of the VRF instance or global instance if VRF is not used.  

**b)** Looks like this was changed via https://github.com/TimEvens/draft-ietf-grow-bmp-loc-rib/commit/d5a042b3c5251d87bf8b66bb5cd3554bb5cee128 to address Jeff Haas concerns.  It's been there for a while now, but you are right that it should refer to section 4.2.  

@sginoza, the process/readme indicates that we can do a pull request and/or change issue labels.  I'm not sure what is preferred.   Should I submit a PR to fix this? If so, I noticed that the XML document includes this issue as a comment.  If I do a pull request, should I remove that comment block? If I change the label to ```editor-ready``` does that mean I should remove the ```rfced``` label and expect that you or someone else will update the XML file? 



Apologies for the delay on this!  Tim had sent mail  regarding the process, and I thought that addressed the issue -- my mistake.   Based on the process Tim proposed, I'm expecting a PR for this issue.   

Tim proposed this process via email: 

> IMHO, we should use PRs to address/fix/update changes needed by issues.  The PRs should go through the normal review process to further discuss the proposed changes.  It should be okay that during the PR process we make further changes based on reviews.  We should only use the issue to get clarification and to discuss what needs to be changed.  The PR should contain the changes to resolve the issue.   The issue should only be used for discussion.  In this specific RFC editor use-case, I believe the process for reviews should require the issue author to be included in the PR review, along with one or more co-authors.   The process indicates that we can address multiple issues with a single PR.  Considering the review should include the issue submitter/author, I would clarify that the PR can contain more than one issue being resolved but the issue submitter must be the same.  This way we are not asking others to review changes that are not relevant to what they reported. 

This proposal largely works for us.  I believe this means we will review the proposed changes before they are marked “editor-ready” so that label is a trigger to merge the PR.  If a PR resolves an issue, the [rfced] comment may be removed in that PR.  

> The process indicates that we can address multiple issues with a single PR.  Considering the review should include the issue submitter/author, I would clarify that the PR can contain more than one issue being resolved but the issue submitter must be the same.

It seems like the easiest way to handle this is to have a PR cover just one issue. 

JAR: As noted in the readme, comments on the code itself are not preferred.  We have found that things sometimes get lost when comments are used.

> This way we are not asking others to review changes that are not relevant to what they reported. 

Ok, but note each author will still need to send a final approval email to rfc-editor@rfc-editor.org to indicate the document is ready for publication. 


@TimEvens 

> **a)** It means to set the ID to the router-id of the VRF instance or global instance if VRF is not used.

Would either of these work? 

Perhaps A: 
Set the ID to the router-id of the VRF instance if VRF is used; otherwise, set to the global instance. 

or perhaps B:
Set this ID to either the router ID of the VRF instance (specific to the RD (e.g., VRF)) or the global instance if VRF is not used.

I prefer **A**.  I'll submit that change in a PR.  

I dropped the RFC ref as it wasn't needed. Below is what it is now in the PR

```
   Peer BGP ID:  Set the ID to the router-id of the VRF instance if VRF
      is used; otherwise, set to the global instance router-id.
```
      