Example clarity

The "for example" text is a sentence fragment, and it is unclear how it relates to the text that precedes it.  Please clarify.                                           
                                                                                                    
Original:                                                                                           
   It does define in section 8.2 of [RFC7854] locally                                               
   originated routes, but these routes are defined as the routes                                    
   originated into BGP.  For example, as defined by Section 9.4 of                                  
   [RFC4271].                                                  

Recitals of section 9.4 of rfc4271 are `A BGP speaker may originate BGP routes by injecting routing information acquired by some other means (e.g., via an IGP) into BGP.`. So my proposal is to make it one single sentence, a-la:

It does define in section 8.2 of [RFC7854] locally
originated routes but these routes are defined as the routes
originated into BGP, for example, as defined by Section 9.4 of
[RFC4271].

@sginoza , it looks like you or someone modified the original text already, which is good to me.   The problem appears only with the "For example..."  sentence.  How about:

```
 It does define locally originated routes in
   Section 8.2 of [RFC7854], but these routes are defined as the routes
   that originated (e.g., Section 9.4 of [RFC4271]) into BGP. 
```

I will submit a PR to include this.  It would be easier to update the PR based on feedback so that we can close all these issues out.  

> It does define locally originated routes in
>    Section 8.2 of [RFC7854], but these routes are defined as the routes
>    that originated (e.g., Section 9.4 of [RFC4271]) into BGP.

For readability, how about moving the example to the end of the sentence?    

   It does define locally originated routes in
   Section 8.2 of [RFC7854], but these routes are defined as the routes
   that originated into BGP (e.g., Section 9.4 of [RFC4271]) . 